name: .NET Core Build & Pack

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Run Unit Tests
      run: dotnet test --no-build --configuration Release --verbosity normal

    - name: Pack
      run: dotnet pack src/SheetShaper.Core/SheetShaper.Core.csproj --no-build --configuration Release --output ./nupkgs

    - name: Upload NuGet Artifact
      uses: actions/upload-artifact@v4
      with:
        name: sheetshaper-package
        path: ./nupkgs/*.nupkg